* {
	font-family: 'Roboto', sans-serif;
	/* Как считать ширину элемента / Внутрь|Снаружи (border) */
	box-sizing: border-box;
	margin: 0;
}

a {
	text-decoration: none;
}

h1 {
	margin: 0;
}

h1,
h2 {
	font-size: 48px;
	color: #050038;
	margin-bottom: 18px;
}

section p {
	font-size: 18px;
	/* высота строки */
	line-height: 24px;
	margin-bottom: 40px;
}

p,
button,
h1,
h2 {
	font-weight: 400;
}

header > ul {
	border-bottom: 1px #f0f0f0 solid;

	/* padding-left: 0; */
	/* выравнивает отступ для маркеров */
	list-style-position: inside;
	/* Скрыть отображение маркеров в списке */
	list-style-type: none;

	display: flex;
	flex-direction: row;
	gap: 34px;

	margin: 0px 0 60px;
	padding: 34px 50px;
}

header > ul a {
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	color: #050038;
}

header > ul a:active,
header > ul a:hover {
	color: #727272;
}

footer {
	display: flex;
	flex-direction: row;
	background: #050038;
	color: #fff;
	font-size: 16px;
	/* высота строки */
	line-height: 24px;
	text-align: center;
	gap: 20px;
	padding: 46px 58px;
}

footer > a:active, /* активная/посещенная ссылка */
footer > a:hover,  /* при наведении */
footer > a {
	font-weight: 400;
	text-decoration: none;
	color: #fff;
}

.sectionList {
	/*  Комбинация  */
	/* list-style: square url() outside; */

	/* Cтиль маркеров */
	list-style-type: none;
	/* Cсылка на изображение */
	list-style-image: url('../image/check_frame.svg');
	/* Позиционирование (внутри, снаружи) */
	list-style-position: outside;
}

/* Альтернативная реализация стилей маркера */
/* .sectionList li::before {
	content: url('../image/check_frame.svg');
} */

#heroButton {
	background-color: #4262ff;
	color: #fff;
}

.bodyLink {
	color: #4262ff;
	border-bottom: 1.5px #4262ff solid;
	font-size: 18px;
	/* высота строки */
	line-height: 24px;
}

#mainForm > input,
#mainForm > button {
	border: 1px solid #9b99af;
	border-radius: 32px;
	/* width: 440px; */
	height: 48px;
	padding: 5px 15px;
	margin: 9px 0;
}

#mainForm + p {
	font-size: 14px;
	/* высота строки */
	line-height: 20px;
	color: #050038;
	margin-bottom: 52px;
}

#mainForm > button {
	font-size: 18px;
	/* высота строки */
	line-height: 27px;
	text-align: center;
	color: #ffffff;
}

.heroText {
	color: #050038;
}

.sectionText {
	color: #05003899;
}
