* {
	box-sizing: border-box;
}

main {
	position: relative;
	background-color: #1e1f29;
	width: 793px;
	border-radius: 10px;
	padding: 48px;
}

body {
	font-family: 'Fira Sans';
	font-style: normal;
}

h1 {
	color: #fafafa;
	font-weight: 400;
	font-size: 36px;
	line-height: 120%;
	padding: 0 0 32px;
	text-align: center;
}

button {
	font-family: 'Fira Sans';
	font-style: normal;
	display: block;
	background-color: #6c38cc;
	color: #fafafa;
	height: 46px;
	border-radius: 10px;
	border-style: none;
	width: 100%;
}

.field {
	margin-bottom: 16px;
	position: relative;
}

input,
textarea,
select {
	background: #2e2d3d;
	color: #fafafa;
	border-radius: 10px;
	padding: 28px 48px 14px;
	resize: none;
	width: 100%;
	border-style: none;
}

textarea {
	overflow-y: auto;
	height: 135px;
}

label {
	position: absolute;
	top: 12px;
	left: 48px;
	font-weight: 400;
	font-size: 12px;
	line-height: 120%;
	color: #afb2bf;
}

.label_email::before {
	content: url('./image/message.svg');
	position: absolute;
	top: 5px;
	left: -33px;
}

.label_telegram::before {
	content: url('./image/telegram.svg');
	position: absolute;
	top: 5px;
	left: -33px;
}

.label_theme::before {
	content: url('./image/topic.svg');
	position: absolute;
	top: 5px;
	left: -33px;
}
