.button {
	border: none;
	background: none;
	border-radius: 10px;
	padding: 16px 32px;
	color: #fafafa;
	cursor: pointer;
	font-size: 18px;
	text-align: center;
	font-style: normal;
	font-weight: 400;
	line-height: 120%;
}

.button_play {
	background: var(--gray-dark, #1e1f29);
	position: absolute;
	top: 221px;
	left: 68px;
	padding-left: 63px;
}
.button_play::before {
	content: url('../images/Play.svg');
	position: absolute;
	top: 15px;
	left: 31px;
}

.button.button_primary {
	background: var(--violet, #6c38cc);
}

.button.button_ghost {
	border: 1px solid var(--gray-stroke, #4d5064);
}

.button.button_ghost:hover {
	background-color: var(--gray-hover);
}

.social-icons {
	display: flex;
	gap: 24px;
}

.section_gray-dark {
	background-color: var(--gray-dark);
}

.section_dark {
	background-color: var(--color-bg);
}

.section-title {
	font-style: normal;
	font-weight: 400;
}
.section-title > h2 {
	color: var(--color-white);
	font-size: 46px;
	margin: 0 0 32px;
}
.section-title > h3 {
	color: var(--footer-pink);
	font-size: 18px;
	margin: 0 0 8px;
}
.section-title > h4 {
	color: var(--color-white);
	line-height: 150%;
	font-size: 18px;
	margin: 0 2px 32px;
}
@media (max-width: 640px) {
	.section-title > h2 {
		font-size: 34px;
	}
}

.article {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 16px;
	border-radius: 10px;
	background-color: var(--gray-dark);
	color: var(--color-white);
	padding: 33px 32px;
	margin-bottom: 36px;
}
.article__left {
	max-width: 775px;
}
.article__right > button {
	width: 158px;
	height: 58px;
}
.article__info {
	color: var(--color-gray);
	display: flex;
	gap: 32px;
	margin: 0 0 14.5px;
}
.article__title {
	margin: 0 0 12px;
	font-size: 24px;
	font-weight: 700;
}
.article__paragraph {
	font-weight: 400;
	line-height: 150%;
	font-size: 16px;
}

.article__date,
.article__views {
	position: relative;
}

.article__date::before {
	position: relative;
	top: 6px;
	margin-right: 6px;
	content: url('../images/Calendar.svg');
}
.article__views::before {
	position: relative;
	top: 6px;
	margin-right: 6px;
	content: url('../images/Eye.svg');
}

@media (max-width: 640px) {
	.article {
		flex-direction: column;
		padding: 24px 16px;
	}
	.article__title {
		font-size: 21px;
		line-height: 120%;
	}
	.article__paragraph {
		font-size: 16px;
		line-height: 150%;
	}
	.article__right > button {
		width: 100%;
		height: 46px;
		padding: 12px 24px;
	}
	.article__info {
		gap: 16px;
	}
	.article__date,
	.article__views {
		font-size: 14px;
	}
}
