* {
	box-sizing: border-box;
}

:root {
	--color-primary: #6c38cc;
	--violet: #6c38cc;
	--color-bg: #16171d;
	--gray-dark: #1e1f29;
	--gray-stroke: #4d5064;
	--grad-1: linear-gradient(158deg, #d77be5 0%, #be63e5 34.69%, #6c38cc 100%);

	--layout-width: 1172px;
}

/* Стили текста для инпутов и кнопок задаются браузером. 
	Для явного наследования задается: */
input, textarea, select, button {
  font: inherit;
}

body {
	font-family: 'Fira Sans', sans-serif;
	margin: 0;
	background-color: var(--color-bg);
	font-style: normal;
	font-weight: 400;
}

a {
	text-decoration: none;
}