.header {
	background-color: var(--gray-dark);
}

.header__wrapper {
	max-width: calc(1200px - 48px);
	margin: 0 auto;
	padding: 40px 24px;
}

.header__navigate {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 54px;
}

.menu {
	display: flex;
	align-items: center;
	padding-left: 0;
	list-style-position: inside;
	list-style-type: none;
	gap: 40px;
}

.header__login_button {
	background: none;
	border: none;
	cursor: pointer;
	color: #fafafa;
	position: relative;
}

.header__login_button::before {
	position: absolute;
	top: -0.5px;
	left: -25px;
	content: url('../images/user.svg');
}

.header__burger-button {
	display: none;
	background: none;
	border: none;
	cursor: pointer;
}

.header__burger-button::after {
	content: url('../images/menu.svg');
}

@media (max-width: 960px) {
	.header__image {
		max-width: 174px;
	}
	.header__login_button {
		display: none;
	}
	.header__burger-button {
		display: block;
	}
}

.menu__item a {
	color: #fafafa;
	padding: 8px 16px;
}

.menu__item:hover > a, 
.header__login_button:hover {
	color: #afb2bf;
}

.menu__item_selected > a {
	border-radius: 8px;
	border: 1px solid var(--gray-stroke);
}

@media (max-width: 960px) {
	.menu {
		display: none;
	}
}

.header__section {
	justify-content: space-between;
	display: flex;
	padding-bottom: 60px;
}

.header__h1 {
	color: #fafafa;
	font-size: 54px;
	font-style: normal;
	font-weight: 700;
	line-height: 100%;
}

.header__h1 > span {
	background: var(--grad-1, linear-gradient(158deg, #d77be5 0%, #be63e5 34.69%, #6c38cc 100%));
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.header__intro {
	position: relative;
}

.header__intro > img {
	width: 458px;
	border-radius: 13px;
	height: 258px;
}

.header__button {
	margin-right: 32px;
	border: none;
	background: none;
	border-radius: 10px;
	padding: 16px 32px;
	color: #fafafa;
	font-size: 18px;
	text-align: center;
	font-style: normal;
	font-weight: 400;
	line-height: 120%;
}

/* .header__section img {
	box-shadow: 0px 4px 30px 15px rgba(0, 0, 0, 0.3);
} */

.button_play {
	border-radius: 10px;
	color: #fafafa;
	background: var(--gray-dark, #1e1f29);
	position: absolute;
	top: 221px;
	left: 68px;
	padding-left: 63px;
}
.button_play::before {
	content: url('../images/Play.svg');
	position: absolute;
	top: 15px;
	left: 31px;
}

.header__button.button_primary {
	background: var(--violet, #6c38cc);
}

.header__button.button_ghost {
	border: 1px solid var(--gray-stroke, #4d5064);
}

header li,
header button {
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 120%;
}
