.hero {
	max-width: var(--layout-width);
	margin: 0 auto;
	padding: 0 24px;
	justify-content: space-between;
	display: flex;
	padding-bottom: 60px;
}

.hero__h1 {
	color: #fafafa;
	font-size: 54px;
	font-style: normal;
	font-weight: 700;
	line-height: 100%;
}

.hero__h1 > span {
	background: var(--grad-1, linear-gradient(158deg, #d77be5 0%, #be63e5 34.69%, #6c38cc 100%));
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.hero__right {
	position: relative;
}

.hero__right > img {
	width: 458px;
	border-radius: 13px;
	height: 258px;
}

.hero__cta {
	display: flex;
	gap: 32px;
	margin-bottom: 24px;
}

@media (max-width: 1200px) {
	.hero__h1 {
		margin-top: 0;
		text-align: center;
	}
	.hero {
		flex-direction: column;
		align-items: center;
		padding: 0 24px;
	}
	.hero__cta {
		gap: 16px;
		justify-content: center;
	}
	.hero__right {
		padding-bottom: 24px;
	}
}

@media (max-width: 640px) {
	.hero__h1 {
		margin-top: 0;
		font-size: 30px;
		font-weight: 700;
		line-height: 120%;
	}
	.button {
		font-size: 18px;
		font-weight: 400;
		padding: 12px 24px;
	}
	.hero__right > img {
		width: 100%;
		height: 100%;
	}
}

.blog__wrapper {
	max-width: var(--layout-width);
	margin: 0 auto;
	padding: 100px 24px 0;
	flex-direction: column;
	display: flex;
}
.blog__button-all-article {
	display: flex;
	justify-content: center;
	margin: 12px 0 100px;
}
@media (max-width: 640px) {
	.blog__button-all-article {
		margin: 0 0 32px;
	}
	.blog__button-all-article > button {
		width: 100%;
		height: 46px;
	}
	.blog__wrapper {
		padding-top: 40px;
	}
}

.blog__social {
	margin: 0 0 48px;
}
